.complinks_popup {
    border: 1px solid transparent;
	position:fixed;
	right:0;
	top:20px;
	height:130px;
	width:600px;
    z-index: 1001;
    font-family: Lato;
}

.complinks_partner_logo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
	background-color:black;
	float:left;
	padding:10px;
	width:250px;
	height:100%;
	border:2px solid black;
}

.complinks_logo {
	width:200px;
    padding-top: 30px; 
    margin-left: 15px;    
}

.complinks_main_content {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	background-color: white;
	border:2px solid black;
	padding:10px;
	float:left;
	width:332px;
	height:100%;
}

.complinks_activate_button {
    font-family: Roboto,"Helvetica Neue", Arial, sans-serif;
    min-width: 90%;
    box-shadow: -1px 3px 1px -10px rgba(0,0,0,0.5), -1px 3px 4px -1px rgba(0,0,0,0.5);
    border: 1px solid transparent;
    border-radius: 0px;
    margin-top: 30px !important;
	display:inline-block;
	background-color:teal;
	margin:0 auto;
	border:none;
	color:white;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	font-size:13px;
	margin-left:10px;
	cursor:pointer;
}

.complinks_dismiss_container {
    right: 27px;
    top: 7px;
    position: absolute;
    text-transform: uppercase;
}

.complinks_dismiss_button {
	font-size: 12pt;
}

































#ebates-clone-footer {
    position: fixed;
    /*bottom: 0;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 1.5%;*/
}
#ebates-clone-footer {
    /*background: #0070FF;
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;*/
}

.ebates-clone-logo{
    /*float: left;
    margin:10px;*/
}

.ebates-clone-activate-btn {
    /*display: inline-block;
    height: auto;
    background: #4E9CAF;
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: solid #20323d 1px;
    text-decoration: none;
    width: 25%;
    padding: 10px;*/
}
.ebates-clone-dismiss-btn {
    /*display: inline-block;
    height: auto;
    background: #4E9CAF;
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: solid #20323d 1px;
    text-decoration: none;
    width: 25%;
    padding: 10px;*/
}

.ebates-clone-footer {
    /*font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 40px;
    z-index: 10000;
    position: fixed;
    right: -webkit-calc(100% - 70%);
    top: -webkit-calc(100% - 15%);
    width: 40%;
    height: 10%;
    padding: 10px;
    background: forestgreen;
    color: #fff;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;*/
}