.complinks_popup {
	position:fixed;
	right:0;
	top:20px;
	height:130px;
	width:600px;
    z-index: 999;
    font-family: Lato;
}

.complinks_partner_logo {
	background-color:black;
	float:left;
	padding:10px;
	width:250px;
	height:100%;
	border:2px solid black;
}

.complinks_logo {
	width:200px
}

.complinks_main_content {
	background-color: white;
	border:2px solid black;
	padding:10px;
	float:left;
	width:332px;
	height:100%;
}

.complinks_activate_button {
	display:inline-block;
	background-color:teal;
	margin:0 auto;
	border:none;
	color:white;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	font-size:16px;
	margin-left:10px;
	cursor:pointer;
}

.complinks_dismiss_container {
	text-align:center;
	margin-top:10px;
}

.complinks_dismiss_button {
	font-size:14pt
}

































#ebates-clone-footer {
    position: fixed;
    /*bottom: 0;
    width: 40%;
    margin-left: 30%;
    margin-bottom: 1.5%;*/
}
#ebates-clone-footer {
    /*background: #0070FF;
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;*/
}

.ebates-clone-logo{
    /*float: left;
    margin:10px;*/
}

.ebates-clone-activate-btn {
    /*display: inline-block;
    height: auto;
    background: #4E9CAF;
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: solid #20323d 1px;
    text-decoration: none;
    width: 25%;
    padding: 10px;*/
}
.ebates-clone-dismiss-btn {
    /*display: inline-block;
    height: auto;
    background: #4E9CAF;
    text-align: center;
    float: left;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: solid #20323d 1px;
    text-decoration: none;
    width: 25%;
    padding: 10px;*/
}

.ebates-clone-footer {
    /*font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 40px;
    z-index: 10000;
    position: fixed;
    right: -webkit-calc(100% - 70%);
    top: -webkit-calc(100% - 15%);
    width: 40%;
    height: 10%;
    padding: 10px;
    background: forestgreen;
    color: #fff;
    text-shadow: 0 1px 0 #84BAFF;
    box-shadow: 0 0 15px #00214B;*/
}