@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
/*.body-div {
	position:relative;
}

.container-fluid {
	padding-top: 55px;
}

.navbar-co, .partner-header {
	position: absolute;
}
*/
.navbar-co {
	z-index: -1;
}
.timeline-events {
	display: none;
}
.row.fbuttons {
	width: 360px !important;
}
.navbar-co {
	display: block !important;
}
.img-col {
	width: 40%;
	margin-right: 12px;
}

.partner-header {
	display: none;
}

.image-2 {
	/*padding: 15px 0px 0px 5px !important;*/
}
.well.well-sm {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#no-email-alert {
	margin-top: 20px;
}


span.glyphicon.glyphicon-usd {
    padding: 10px;
}

body {
	width:360px; 
	height:300px;
	font-family: Roboto,"Helvetica Neue", Arial, sans-serif;
}
.activate-btn {
	border-radius: 0px !important;
	box-shadow: -1px 3px 1px -10px rgba(0,0,0,0.5), -1px 3px 4px -1px rgba(0,0,0,0.5);
	font-size: 14px !important;
}
.btn-primary {
	background-color: #2CC750;
	border-color: #2CC750;
}
.btn-primary:hover {
    background-color: #1A992F;
    border-color: #1A992F;
}
.loading-icon{
	text-align: center;
}
.fb-tab-actions {
	margin-top: 15px;
	min-height: 270px;
}
.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-header {
	background: #4e5158
}
.container{
	margin-top: 20px;
	margin-bottom: 0px;
}
.fbuttons{
	margin-bottom: 20px;
}
.fpanels{
	margin-top: 20px;
}

.show-offers {
	margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.bg-red {
	background: #F2590B;
	border-color: #F2590B;
}

.bg-red:hover {
	background-color: #B34208;
    border-color: #B34208;
}

.save {
	background: #1BB1EE;
	border-color: #1BB1EE;
}

.save:hover {
	background-color: #00528E;
    border-color: #00528E;
}
